
<%- include('header') -%>


<style>
    .vetrina{
        margin-top: 400px;
        margin-left: 800px;
        margin-bottom: 100px;
    }
</style>

<div>
    <button type="menu" >Cambia pagina</button>
</div>



<div class="vetrina" align="center">        
        <form action="/route/vetrina" method="POST" class="pt-3">
            <h2 class="font-weight-bold">MODELLO BICICLETTA</h2>
            <div class="form-group">
                <img src="https://www.popolis.it/wp-content/uploads/2020/12/image.png">
            </div>
            <div class="form-group">
                <span>DESCRIZIONE</span>
            </div>
            <div class="form-group">
                <span>RECENSIONI :  xxx</span>
            </div>
           
            <button type="submit" class="btn btn-success rounded-pill">Prenota</button>
        </form>
    
        <form action="/route/vetrina" method="POST" class="pt-3">
            <h2 class="font-weight-bold">MODELLO BICICLETTA</h2>
            <div class="form-group">
                <img src="https://www.popolis.it/wp-content/uploads/2020/12/image.png">
            </div>
            <div class="form-group">
                <span>DESCRIZIONE</span>
            </div>
            <div class="form-group">
                <span>RECENSIONI :  xxx</span>
            </div>
            
            <button type="submit" class="btn btn-success rounded-pill">Prenota</button>
        </form>

        <form action="/route/vetrina" method="POST" class="pt-3">
            <h2 class="font-weight-bold">MODELLO BICICLETTA</h2>
            <div class="form-group">
                <img src="https://www.popolis.it/wp-content/uploads/2020/12/image.png">
            </div>
            <div class="form-group">
                <span>DESCRIZIONE</span>
            </div>
            <div class="form-group">
                <span>RECENSIONI :  xxx</span>
            </div>
            
            <button type="submit" class="btn btn-success rounded-pill">Prenota</button>
        </form>

</div>




<%- include('footer') -%>
