<%- include('header') -%>

<div class="text-center center-div mt-5" id="login"> 

    <h3>BENVENUTI in.. benedetto il signore</h3>
    <div class="container w-25 border py-5 mt-5">
        <h3>BENVENUTI in.. ZUGRI RENT</h3>
        <table  style="width:500px;text-align:center;" >
            <tr><td>Visuliazza vetrina</td><td><button type="submit" value="prova.ejs" class="btn btn-success rounded-pill">vetrina</button></td></tr>
            <tr><td>Visualizza carrello</td><td><button type="submit" class="btn btn-success rounded-pill">carrelllo</button></td></tr>
            <tr><td>percorsi consigliati</td><td><button type="submit" class="btn btn-success rounded-pill">percorsi</button></td></tr>
        </table>
        
        <h5><%= locals.user ? user : "User" %></h5>
        <a href="/route/logout">Logout</a>
    </div>
</div>

<%- include('footer') -%>